<% content_for :title, "Login" %>
<div class="login-clean" style="width: 100%; height: 100vh;">
    <%=form_with(url: login_path, scope: :session, local: true) do |f| %>
        <h2 class="sr-only">Login Form</h2>
        <h2 class="brand">Osprey</h2>
        <div class="illustration"><i class="fas fa-sign-in-alt"></i></div>
        <div class="row">
        <div class="col-sm-12">
            <% flash.each do |type, msg| %>
            <div class="alert alert-danger">
                <%= msg %>
            </div>
            <% end %>
            <%# Clear flash error messages after displaying invalid login message %>
            <%flash.clear%>
        </div>
    </div>
        <%= f.text_field :username, required: true, class: "form-control", placeholder: "Username" %>
        <%= f.password_field :password, required: true, class: "form-control", placeholder: "Password" %>
        <%= f.submit 'Login', class: 'btn btn-primary btn-block' %>
        <span class="d-flex justify-content-between" style="margin-top: 3%">
            <%= link_to "Fogot password?", home_maintenance_path, style:"font-size: 12px;" %>
          <%= link_to "Fogot user name?", home_maintenance_path, style:"font-size: 12px;" %>
          </span>
    <% end %>
</div>
