<% content_for :title, "Generate Fake Data" %>
  <div style="min-height: 600px;">
<div style="margin: 5% 0%;">
<h1>Generate Fake Data</h1>

  <% flash.each do |type, msg| %>
  <div class="alert alert-info" style="text-align:center; width:50%; margin: auto">
    <%= msg %>
  </div>
<% end %>
  <div class="col-md-4 col-xl-6 offset-xl-3">
    <%= form_for :generator, :url => {:action => "create"} do |f| %>
    <%= error_messages_for(f.object) %>
    <div>
      <% if(params[:userid].present?) %>
      <%= f.hidden_field :userid, value: params[:userid] %>
        <th>Number of transactions for each account of this user</th>
        <td><%= f.number_field(:transactions, { class: "border rounded-0 form-control", style: "margin-bottom: 15px;", placeholder: "Number of fake transcations", required: true })%></td>

      <%else%>
        <th>Number of fake users</th>
        <td><%= f.number_field(:users, { class: "border rounded-0 form-control", style: "margin-bottom: 15px;", placeholder: "Number of fake users" })%></td>
        <th>Number of fake accounts distrubuted to users above</th>
        <td><%= f.number_field(:accounts, { class: "border rounded-0 form-control", style: "margin-bottom: 15px;", placeholder: "Number of fake accounts" })%></td>

        <th>Number of fake transactions distrubuted to accounts above</th>
        <td><%= f.number_field(:transactions, { class: "border rounded-0 form-control", style: "margin-bottom: 15px;", placeholder: "Number of transactions" })%></td>

      </div>

    <% end %>
      <%= f.submit "Create", class:"btn btn-lg btn-info", style: "width: 100%;" %>
  <%end%>
</div>
</div>
</div>
