<% content_for :title, "View Transaction" %>
<div style="margin: 5% 0%;">
    <div class="col-md-4 col-xl-6 offset-xl-3">
        <h1 style="font-size: xx-large;"><i class="fas fa-money-check" style="padding-right: 5px;"></i>View Transaction</h1>
        <hr>
        <table class="table table-striped table-light">
            <tbody>
                <tr>
                    <td>Sender ID</td>
                    <td><%= @transaction.sender_id %></td>
                </tr>
                <tr>
                    <td>Receiver ID</td>
                    <td><%= @transaction.receiver_id %></td>
                </tr>
                <tr>
                    <td>Amount</td>
                    <td><%= Money.new(@transaction.amount, findCurrency(@transaction.sender_id,@transaction.receiver_id, 'sent')).format %></td>
                </tr>
                <tr>
                    <td>Date Created</td>
                    <td><%= @transaction.created_at %></td>
                </tr>
            </tbody>
        </table>
        <%= link_to "Edit", edit_admin_transaction_url(@transaction), class: "btn btn-lg btn-info", style: "width: 100%; margin: 1% 0%" %>
        <%= link_to "Delete", delete_admin_transaction_url(@transaction), class: "btn btn-lg btn-dark", style: "width: 100%; margin: 1% 0%" %>
    </div>
</div>
