<div style="margin: 5% 0%;">
    <div class="col-md-4 col-xl-6 offset-xl-3">
    <h1 style="font-size: xx-large;"><i class="fas fa-lock" style="padding-right: 5px;"></i>Edit Password</h1>
        <%= error_messages_for(@user) %>
        <%= form_for  [:admin, @user], url:   edit_password_admin_user_url , method: "patch"  do |f| %>
        <%=  render partial: "edit_password", :locals => {:f => f}  %>
        <%= f.submit "Update", class:"btn btn-lg btn-info", style: "width: 100%; margin: 1% 0%;" %>
        <%= link_to("Cancel", :back, { class: "btn btn-secondary btn-lg mr-2 rounded-lg", style: "width: 100%; margin: 1% 0%;" }) %>
        <% end %>
    </div>
</div>
