<div class="container">
  <h1 class="display-3 lead" style="text-align: center;">View all Users Below!</h1>
  <hr>
  <% if(@users.nil? || @users.empty?) %>
    <div class="row" style="margin-bottom: 20%;">
      <% if(params.has_key?(:search_user)) %>
        <p class="alert alert-info" style="width: 100%; margin-bottom: 9%;" role="alert">
          <strong>You have no users that match:
            <u><%= params[:search_transaction] %></u>!</strong>
        </p>
      <% else %>
        <p class="alert alert-info" style="width: 100%;  margin-bottom: 9%;" role="alert">
          <strong>You have no users!</strong>
        </p>
      <% end %>
    <% else %>
    </div>
    <div class="card" style="margin-left: 10%; margin-right: 10%">
      <div class="card-header">
        <!-- <div class="row" style="margin-bottom: 1%;"> -->
          <%= render(:partial => 'application/search', :locals => {:input_path => admin_users_url, :search => :search_user, :csv_path => url_for(format: 'csv', search_user: params[:search_user], sort: params[:sort], direction: params[:direction])}) %>
        <!-- </div> -->
      </div>
      <div>
        <div class="table-responsive text-nowrap">
          <table class="table table-dark table-striped table-bordered table-fixed" cellspacing="0" width="100%" style="text-align: center">
            <thead class="">
              <tr >
                <th scope="col">#</th>
                <th scope="col"><%= sortable "created_at", "Date Created" %></th>
                <th scope="col"><%= sortable "id", "User ID" %></th>
                <th>First name</th>
                <th>Last name</th>
                <th>Email</th>
                <!--<th>Password</th>-->
                <th>Admin?</th>
                <th>Actions</th>
              </tr>
            </thead>
            <% @users.each_with_index do |user, index| %>
              <tr >
                <th scope="row" >
                  <%= (index + 1) + (Admin::UsersController::USERS_PER_PAGE * (@page)) %>
                </th>
                <td><%= user.created_at %></td>
                <td><%= user.id %></td>
                <td style="text-align: right"><%= user.fname %></td>
                <td style="text-align: left"><%= user.lname %></td>
                <td><%= user.email %></td>
                <td><%= user.isAdmin == true ? "Yes" : "No" %></td>
                <td>
                  <%= link_to "Show", admin_user_url(user), class:"btn btn-outline-success btn-sm", style: "margin-left: 5px;width: 30%;" %>
                  <%= link_to "Edit", edit_admin_user_url(user), class:"btn btn-outline-warning btn-sm", style: "margin-left: 5px;width: 30%;" %>
                  <%= link_to "Delete", delete_admin_user_url(user), class:"btn btn-outline-danger btn-sm", style: "margin-left: 5px;width: 30%;" %>
                </td>
              </tr>
            <% end %>
          </table>
          <%= render(:partial => 'application/paginate', :locals => {:input_path => admin_users_url(:page => params[:page])})%>
        <% end %>
      </div>
    </div>
  </div>
</div>
