<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>
<% content_for :title, "Your Transactions" %>
<div class="container" >
    <div class="row d-md-flex justify-content-md-center">
      <h1 class="display-3" style="text-align: center;">Welcome to your transaction history
        <span class ="text-capitalize" style="color:#56c6c6">  <%=current_user.fname%></span></h1>
            <p class="lead">Below you can find all the transactions from your bank account!</p>
    <div class="col-md-10 col-md-offset-1 ">
        <% if(@transactions_all.nil? || @transactions_all.empty?) %>
        <div class="row" style="margin-bottom: 20%;">
        <% if(params.has_key?(:search_transaction)) %>
            <p class="alert alert-info" style="width: 100%;" role="alert"><strong>You have no transactions that match: <u><%= params[:search_transaction] %></u>!</strong></p>
        <% else %>
          <p class="alert alert-info" style="width: 100%;" role="alert"><strong>You have no transactions!</strong></p>
        <% end %>
        </div>
        <% else %>
    </div>
    <div class="col-md-10 col-md-offset-1 ">
        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="col">
                <p style="color: black; border-style: solid; border-width: thin; border-radius: 20px; border-color: #56c6c6; width: 40%; padding: 5px; padding-left: 15px;">Total Balance: <%= humanized_money_with_symbol @balance%></p>
                <hr>
                    <div class="row"><%= render(:partial => 'application/search', :locals => {:input_path => transactions_url, :search => :search_transaction, :csv_path => url_for(format: 'csv', search_transaction: params[:search_transaction], sort: params[:sort], direction: params[:direction])})%></div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list" style="text-align: center;">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col"><%= sortable "created_at", "Date"%></th>
                            <th scope="col"><%= sortable "sender_id", "Sender"%></th>
                            <th scope="col"><%= sortable "receiver_id", "Receiver"%></th>
                            <th scope="col">Sent/Received</th>
                            <th scope="col"><%= sortable "amount", "Amount"%></th>
                            <th scope="col">See more</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% @transactions_all.each_with_index do |transaction, index| %>
                        <tr>
                            <th scope="row"><%= (index + 1) + (TransactionsController::TRANSACTIONS_PER_PAGE  * (@page))%></th>
                            <td><%= transaction.created_at %></td>
                            <td>
                                <% render_sender = Account.find_by(id: transaction.sender_id) %>
                                <% if(render_sender.nil?) %>
                                <%= transaction.sender_id %>
                                <% else %>
                                <%= transaction.sender_id %>
                                <% end %>
                            </td>
                            <td>
                                <% render_receiver = Account.find_by(id: transaction.receiver_id) %>
                                <% if(render_receiver.nil?) %>
                                <%= transaction.receiver_id %>
                                <% else %>
                                <%=transaction.receiver_id %>
                                <% end %>
                            </td>

                            <% if(current_user.accounts.exists?(:id => transaction.sender_id)) %>
                            <td>Sent</td>
                            <% direction = "sent" %>
                            <% else %>
                            <td>Received</td>
                            <% direction = "recieve" %>
                            <% end %>
                            <td><%= Money.new(transaction.amount, findCurrency(transaction.sender_id,transaction.receiver_id,direction)).format %></td>
                            <td><%= link_to("Show", transaction_path(transaction, :currency => findCurrency(transaction.sender_id,transaction.receiver_id,direction))) %></td>
                        </tr>
                        <% end %>
                    </tbody>
                </table>

            </div>
           <%= render(:partial => 'application/paginate', :locals => {:input_path => transactions_url(:page => params[:page])})%>
        </div>

    </div>
    <% end %>
    </div>
</div>
