<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.4.0/css/font-awesome.min.css" rel='stylesheet' type='text/css'>

<div class="container">
    <div class ="col col-xs-6">
        <div class="row">
            <h1 class="display-3" style="text-align: center;">Welcome to your transaction history <%=current_user.fname%>!</h1>
            <p class="lead">Below you can find all the transactions from your bank account!</p>
        </div>
        <% if(@transactions_all.nil? || @transactions_all.empty?) %>
        <div class="row">
            <p>You have no transactions!</p>
        </div>

        <% else %>
    </div>
    <div class="col-md-10 col-md-offset-1">

        <div class="panel panel-default panel-table">
            <div class="panel-heading">
                <div class="row">
                    <div class="col col-xs-6">
                        <h3 class="panel-title">Transactions</h3>
                    </div>
                </div>
            </div>
            <div class="panel-body">
                <table class="table table-striped table-bordered table-list">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Date</th>
                            <th scope="col">Sender ID</th>
                            <th scope="col">Receiver ID</th>
                            <th scope="col">Amount</th>
                            <th scope="col">Sent/Received</th>
                            <th scope="col">See more</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% counter = 1 %>
                        <% @transactions_all.each do |transaction| %>
                        <tr>
                            <th scope="row"><%= counter %></th>
                            <td><%= transaction.created_at %></td>
                            <td><%= transaction.sender_id %></td>
                            <td><%= transaction.receiver_id %></td>
                            <td><%= transaction.amount %></td>
                            <% if(transaction.sender_id == current_user.id) %>
                            <td>Sent</td>
                            <% else %>
                            <td>Received</td>
                            <% end %>
                            <td><%= link_to("Show", transaction_path(transaction)) %></td>
                        </tr>
                        <% counter += 1%>
                        <% end %>
                    </tbody>
                    </tbody>
                </table>

            </div>
            <div class="panel-footer">
                <div class="row">
                    <div class="col col-xs-4">
                        <%= "Page #{@page+1} of #{@max_pages}"%>
                    </div>
                    <div class="col col-xs-8">
                        <ul class="pagination visible-xs pull-right">
                            <%if(@page - 1 >= 0)%>
                                <li><a href="#"><%= link_to "Previous Page", transactions_path(page: @page - 1) %></a></li>
                            <% end %>
                            <%if(@page - 1 >= 0 && @page + 1 < @max_pages)%>
                                <li>&nbsp;&nbsp;|&nbsp;&nbsp;</li>
                            <% end %>
                            <%if(@page + 1 < @max_pages)%>
                                <li><a href="#"><%= link_to "Next Page", transactions_path(page: @page + 1) %></a></li>
                            <% end %>
                        </ul>
                    </div>
                </div>
            </div>
        </div>

    </div>
    <% end %>
</div>