<div class=" footer-dark">
    <footer>
        <div class=" d-flex justify-content-center">
            <div class="container">
                <div class="row justify-content-center">
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Services</h3>
                        <ul>
                            <li>
                                <%= link_to "Banking", home_maintenance_path %>
                            </li>
                            <li>
                                <%= link_to "Borrowing", home_maintenance_path %>
                            </li>
                            <li>
                                <%= link_to "Investing", home_maintenance_path %>
                            </li>
                            <li>
                                <%= link_to "Insurance", home_maintenance_path %>
                            </li>
                            <li>
                                <%= link_to "Community", home_maintenance_path %>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>About</h3>
                        <ul>
                            <li>
                                <%= link_to "Home Page", home_index_path %>
                            </li>
                            <li>
                                <%= link_to "About us", home_maintenance_path %>
                            </li>
                            <li>
                                <%= link_to "Careers", home_maintenance_path %>
                            </li>
                        </ul>
                    </div>
                    <div class="col-sm-6 col-md-3 item">
                        <h3>Osprey Bank</h3>
                        <p>For all your banking needs</p>
                    </div>

                </div>
                <div class="col item social">
                    <br>
                    <a href="https://www.facebook.com/lordosprey.osprey.9/">
                        <i class="icon ion-social-facebook"></i>
                    </a>
                    <a href="https://twitter.com/BankOsprey">
                        <i class="icon ion-social-twitter"></i>
                    </a>
                    <a href="https://www.instagram.com/ospreybank/">
                        <i class="icon ion-social-instagram"></i>
                    </a>
                </div>
                <p class="copyright">Osprey Bank © 2020</p>
            </div>
        </div>
    </footer>
</div>
