<!DOCTYPE html>

<html>
  <head>
    <title>OspreyBank</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <!-- <link rel="stylesheet" href="./assets/bootstrap/css/bootstrap.min.css"> -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.2/js/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/2.0.1/css/ionicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <script src="https://kit.fontawesome.com/22790cbe10.js" crossorigin="anonymous"></script>

  </head>

  <body>
    <div style="min-height: 600px;">
  <% if(controller_name == 'home' || controller_name == 'sessions') %>
  <% else %>
    <%= render(:partial => 'application/header') %>
  <% end %>
    <%= yield %>
    </div>
  <% if(controller_name != 'sessions') %>
    <%= render(:partial => 'application/footer') %>
  <% end %>
  </body>
</html>
